<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Trabalho Final</title>
</head>
<body>
	<h2>Editar registro</h2>
		<% data.forEach(function(details){ %>
			<form action="/edit/<%= details._id %>" method= "POST" >
				<input type="text" value="<%= details.Matricula %>" name="Matricula">
				<input type="text" value="<%= details.Nome %>" name="Nome">
				<br />
				<button><a href="/show">Todos</a></button>
				<button type="submit">Editar</button>
			</form>
		<%}) %>

</body>
</html>